div li {
    list-style-position: inside;
    width: auto;
}

.top-menu li {
    
    display: inline-block;
    padding: 10px 30px;
    margin: 0 auto;
    background: #a64dfd;
    color: #FFFFFF;
    cursor: pointer;
}
 li:hover {
    background: #eeeced;
    color: #9fa19e;
 }
.top-menu {
   background:#a64dfd;
   color: #FFFFFF;
}
.more {
    float: right;
}